.parent {
  max-width: 800px; 
  height: 450px;
  display: flex;
}

ul {
  list-style: none;
}

.child {
  height: 100%;
}

.c1 {
  min-width: 300px;
  flex-grow: 8;
  font-size: 16px;
  text-decoration: none;
}

.c2 {
  text-align: center;
  min-width: 125px;
  background-color: #E74C3C;
  font-size: 15px;
  font-weight: bold;
  border-radius: 15px;
}

.move-list {
  max-height: 370px;
  min-width: 125px;
  overflow: auto;
  border-top: 2px solid #F3A69E;
}

.move {
  height: 20px;
  color: rgb(49, 49, 49);
  background-color: #F3A69E;
  margin: 5px;
  border-radius: 5px;
}

.move:hover {
  background-color: #FFFFFF;
  cursor: default;
}

.grand {
  width: 100%;
  /* border-radius: 15px; */
  border-bottom: 1px solid rgb(216, 216, 216);
}

.g1 {
  height: 40%;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  margin-left: 10px;
}

.g2 {
  height: 35%;
}

.g3 {
  height: 25%;
}

.inner-info {
  flex-grow: 1;
  height: 100%;
  min-width: 160px;
}

.info-tag{
  padding: 5px 0;
  display: flex;
}

.tag-odd {
  background-color: rgb(230, 230, 230);
}

.info-name {
  width: 75px;
  font-size: 14px;
  color: rgb(90, 90, 90);
  text-align: end;
}

.info-data {
  font-size: 14px;
  font-weight: bold; 
  margin-left: 10px;
}


.tag-title-1 {
  margin: 20px 0 10px 0;
  text-align: center;
}

.tag-title {
  margin: 0;
  text-align: center;
}

.btn-type {
  border: none;
  border-radius: 5px;
}

.type-bug {
  background-color: greenyellow;
}

.type-flying {
  background-color: aqua;
}

/* BASE STATS */

.base-stat {
  margin: 0 0 0 10px;
  display: flex;
  padding: 2px 0
}

.base-stat-name {
  min-width: 60px;
  font-size: 14px;
  color: rgb(90, 90, 90);
  text-align: end;
}

.base-stat-number-level {
  margin: 0 10px;
  font-size: 14px;
  font-weight:  bold;
}

.base-stat-chart-level {
  height: 12px;
  margin-top: 2px;
  border-radius: 15px;
}

.yellow {
  background-color: yellow
}

.orange {
  background-color: orange
}

.green {
  background-color: greenyellow;
}